<div>
      <nav>
        <div id="menu">
            <ul>
                <li id ="item"><a href="usuarios.html">Usuarios</a></li>
                <li id ="item"><a href="clientes.html">Clientes</a></li>
                <li id ="item"><a href="proveedores.html"> Proveedores</a></li>
				<li id ="item"><a href="productos.html"> Productos</a></li>
                <li id ="item"><a href="ventas.html"> Ventas</a></li>
                <li id ="item"><a href="reportes.html"> Resportes</a></li>    
            </ul>    
        </div>
      </nav>
</div>