<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="headFragment.html"></head>
<body>

<header th:insert="headerFragment.html"></header>


<div class="jumbotron text-center">
  <h1>Bienvenidos</h1>
  <h2>Tienda Generica</h2> 
  <h2><i class="fas fa-cart-plus fa-4x"></i></h2>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
	
    </div>
    <div class="col-sm-4">
	<form action="#" th:action="@{/login}" th:object="${userlogin}" method="post">
    <table class="table table-borderless">
    <thead>
      <tr>
        <th><i class="fas fa-user"></i> Usuario</th>
        <td><input type="text" id="usuario" name="usuario" th:field="*{usuario}"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><i class="fab fa-keycdn"></i> Contraseña</th>
        <td><input type="text" id="password" name="password" th:field="*{password}"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><button type="submit" class="btn btn-secondary">Aceptar</button></td>
        <td><button type="reset" class="btn btn-secondary">Cancelar</button></td>
      </tr>
    </tbody>
	</table>
	</form>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
</div>
login
</body>
</html>