<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="headFragment.html"></head>
<body>

<header th:insert="headerFragment.html"></header>

<div class="jumbotron text-center">
  <h1>PRODUCTOS</h1>  
  <h2><i class="fas fa-boxes fa-4x"></i></h2> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-2">
	
    </div>
    <div class="col-sm-8">
	<form>
    <table class="table table-borderless">
    <tbody>	
      <tr>
        <th>Nombre del Archivo</th>
        <th><input type="text" id="file" name="file"></th>
		<td><button type="button" class="btn btn-secondary">Examinar</button></td>		
      </tr>
      <tr>
        <th></th>
        <th><button type="button" class="btn btn-secondary">Cargar</button></th>
		<td></td>		
      </tr>	  
    </tbody>
	</table>
	</form>
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>
</div>

</body>
</html>