<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="headFragment.html"></head>
<body>

<header th:insert="headerFragment.html"></header>


<div class="jumbotron text-center">
  <h1>CONFIGURACION</h1>
  <h1>USUARIOS</h1>
  <h2><i class="fas fa-users-cog fa-4x"></i></h2> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-2">
	
    </div>
    <div class="col-sm-8">
	<form action="#" th:action="@{/usuarios}" th:object="${usuario}" method="post">
    <table class="table table-borderless">
    <thead>
      <tr>
        <th>Cedula</th>
        <th><input type="text" id="cedula" name="cedula" th:field="*{cedula_usuario}"></th>
		<th>Usuario</th>
		<th><input type="text" id="user" name="user" th:field="*{usuario}"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Nombre Completo</th>
        <th><input type="text" id="nombre" name="nombre" th:field="*{nombre_usuario}"></th>
		<th>Contraseña</th>
        <td><input type="text" id="password" name="password" th:field="*{password}"></td>
      </tr>
      <tr>
        <th>Correo Electronico</th>
        <th><input type="text" id="correo" name="correo" th:field="*{email_usuario}"></th>
        <td></td>
		<td></td>
      </tr>
      <tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>	  
		<td><button type="button" class="btn btn-secondary">Consultar</button></td>
        <td><button type="button" class="btn btn-secondary">Crear</button></td>
        <td><button type="button" class="btn btn-secondary">Actualizar</button></td>
        <td><button type="reset" class="btn btn-secondary">Borrar</button></td>
      </tr>
    </tbody>
	</table>
	</form>
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>
</div>

</body>
</html>