<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Usuarios</title>
<link rel=stylesheet type="text/css" href="styles.css" >

</head>
<body>

<header>
	<ul>
		<li><a href="usuarios.html">Usuarios</a></li>
		<li><a href="clientes.html">Clientes</a></li>
		<li><a href="proveedores.html">Proveedores</a></li>
		<li><a href="ventas.html">Ventas</a></li>
		<li><a href="reportes.html">Reportes</a></li>
	</ul>
</header>

<form class="clearfix">
<label for="cedula">Cedula</label>
<input type="text" id="cedula" name="cedula">

<label for="nombre">Nombre Completo</label>
<input type="text" id="nombre" name="nombre">

<label for="correo">Correo Electronico</label>
<input type="text" id="correo" name="correo">

<label for="usuario">Usuario</label>
<input type="text" id="usuario" name="usuario">

<label for="password">Contraseña</label>
<input type="text" id="password" name="password">

<button type="button" class="boton">Consultar</button>
<button type="button" class="boton">Crear</button>
<button type="button" class="boton">Actualizar</button>
<button type="reset" class="boton">Borrar</button>

</form>
</body>
</html>